body {
    background-color: antiquewhite;
    font-family: sans-serif;
    padding:10px;
}
#menudo{
    display:block;
    margin:auto;
    height: 20%;
    width: 40%;
    padding: 10px;
    background-color: azure;
    border-radius: 2rem 2rem 2rem 2rem;
}
#scared{
    display:block;
    margin:auto;
    height: 150px;
    width: 150px;
    padding: 10px;
    background-color: white;
    
}
h1, h2, h3, ol {
   
   text-align: center;
}
ol {
    list-style: none;
}